./traits/
./rust/**/target
rust/EnumsInRustSimple/target
rust/previousRustExamples/RustEnums/target
rust/previousRustExamples/RustTraits/target
rust/EnumsInRustAdvantages/target
rust/EnumsInRustOption/target
rust/generischemehrfachimplementierung/target
rust/supertraits/target
rust/conditionalImplementation/target
rust/sametypinputoutput/target